<script setup lang="ts">
import {
  mdiHeart,
  mdiBookmark,
  mdiCat,
  mdiDog,
  mdiFoodHotDog,
  mdiMusicCircle,
} from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row class="background">
      <v-col>
        <v-card class="mx-auto" max-width="200" rounded="2" align="center">
          <br />
          <v-avatar size="170" rounded="0">
            <v-img cover src="src/views/Me.png"></v-img>
          </v-avatar>

          <v-card-title class="text-white"></v-card-title>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              size="small"
              color="red"
              variant="text"
              :icon="mdiHeart"
            ></v-btn>

            <v-btn
              size="small"
              color="surface-variant"
              variant="text"
              :icon="mdiBookmark"
            ></v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col>
        <v-img src="src/views/my profile.png" height="75px"></v-img>
        <v-img src="src/views/name.png" height="90px"></v-img>
      </v-col>
    </v-row>
    <v-row class="background">
      <v-col>
        <v-img src="about.png" height="29px"></v-img>
        <p>
          Name: Patthamawan Lamphueng <br />
          Nickname : ออยลี่ <br />
          Date of Birth : 29 October 2001<br />
          Age : 21 years old <br />
          what interested : Listen to music , Photograph and Big Cat
        </p>
        <br />
        <v-card
          color="#1F7087"
          theme="dark"
          class="mx-auto"
          max-width="430"
          elevation="12"
          loading
          shaped
        >
          <div class="d-flex flex-no-wrap justify-space-between">
            <div>
              <v-card-title class="text-h5">
                <v-icon :icon="mdiMusicCircle"></v-icon> Best song ever
              </v-card-title>

              <v-card-subtitle>Safeplanet</v-card-subtitle>

              <v-card-actions>
                <v-btn
                  elevation="2"
                  rounded="pill"
                  class="ml-2"
                  variant="outlined"
                  size="small"
                  href="https://www.youtube.com/watch?v=Be7uzJvscl4"
                  target="_blank"
                >
                  Safeplanet
                </v-btn>
              </v-card-actions>
            </div>

            <v-avatar class="ma-3" size="125" rounded="0">
              <v-img
                src="https://th.bing.com/th/id/R.142eb747f73d321722eeb639ced49f1c?rik=%2fA3qASJ9lNknsA&pid=ImgRaw&r=0"
              ></v-img>
            </v-avatar>
          </div>
        </v-card>
      </v-col>
      <v-col cols="6">
        <div align="left">
          <v-img src="src/views/Edu.png" height="29px"></v-img>
        </div>
        <p>
          2014-2016 <br />
          <v-icon :icon="mdiCat" color="pink"></v-icon>Junior high school Phanom
          Sarakham School "Phanom Adul Wittaya" <br /><br />
          2017-2019 <br />
          <v-icon :icon="mdiDog" color="blue"></v-icon>High school Phanom
          Sarakham School "Phanom Adul Wittaya" <br /><br />
          2020 - Present <br />
          <v-icon :icon="mdiFoodHotDog" color="red"></v-icon>Currently studying
          at Burapha University Faculty of Information Sciences computer science
        </p>
        <br />
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.background {
  background-color: rgb(215, 235, 234);
}
p {
  font-family: cursive;
  font-size: 18px;
  text-align: left;
  background-color: aliceblue;
  border: solid black 3px;
  padding-left: 20px;
  margin: 10px;
}
</style>
